# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (odkomentuj jeśli chcesz ignorować)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.build/
build/

# Android Studio build outputs
/android/app/build/
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/.gradle/
/android/.idea/
/android/local.properties

# iOS related
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.xcframework

# Windows
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake

# macOS
/windows/flutter/GeneratedPluginRegistrant.swift

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# key.properties file
/android/key.properties